if SHIELD_SWOOP_LEFT

config ZMK_KEYBOARD_NAME
    default "shah swoop"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SWOOP_LEFT || SHIELD_SWOOP_RIGHT
config ZMK_SPLIT
    default y
endif